<?xml version="1.0"?>
<!--
/**
 * @copyright    Copyright (C) 2015 Skstore. All Rights Reserved.
 */
-->
<config>
    <modules>
        <KtmCore_AjaxCart>
            <version>1.0.1</version>
        </KtmCore_AjaxCart>
    </modules>
    <frontend>
        <routers>
            <ajaxcart>
                <use>standard</use>
                <args>
                    <module>KtmCore_AjaxCart</module>
                    <frontName>ajaxcart</frontName>
                </args>
            </ajaxcart>
        </routers>
        <layout>
            <updates>
                <ajaxcart>
                    <file>ktmcore_ajaxcart.xml</file>
                </ajaxcart>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <ajaxcart>
                <class>KtmCore_AjaxCart_Model</class>
            </ajaxcart>
        </models>
        <resources>
            <ajaxcart_setup>
                <setup>
                    <module>KtmCore_AjaxCart</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxcart_setup>
            <ajaxcart_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajaxcart_write>
            <ajaxcart_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajaxcart_read>
        </resources>
        <blocks>
            <ajaxcart>
                <class>KtmCore_AjaxCart_Block</class>
            </ajaxcart>
        </blocks>
        <helpers>
            <ajaxcart>
                <class>KtmCore_AjaxCart_Helper</class>
            </ajaxcart>
        </helpers>
    </global>
    <default>
		<ajaxcart>
		    <ajaxcart_config>
		    	<enable_ajaxcart>1</enable_ajaxcart>
		    	<enable_ajaxcompare>1</enable_ajaxcompare>
		    	<enable_ajaxwishlist>1</enable_ajaxwishlist>
		    	<enable_quickview>1</enable_quickview>
		    </ajaxcart_config>
		</ajaxcart>
    </default>
</config>