<?xml version="1.0"?>
<config>
    <modules>
        <KtmCore_KtmMenu>
            <version>1.0.1</version>
        </KtmCore_KtmMenu>
    </modules>
    <global>
        <models>
            <ktmmenu>
                <class>KtmCore_KtmMenu_Model</class>
            </ktmmenu>
        </models>
        <blocks>
            <ktmmenu>
                <class>KtmCore_KtmMenu_Block</class>
            </ktmmenu>
        </blocks>
        <helpers>
            <ktmmenu>
                <class>KtmCore_KtmMenu_Helper</class>
            </ktmmenu>
        </helpers>
        <events>
            <controller_action_layout_generate_xml_before>
                <observers>
                    <ktmcore_ktmmenu_system_layout_observer>
                        <type>singleton</type>
                        <class>KtmCore_KtmMenu_Model_System_Layout_Observer</class>
                        <method>unremoveUpdate</method>
                    </ktmcore_ktmmenu_system_layout_observer>
                </observers>
            </controller_action_layout_generate_xml_before>
        </events>
        <resources>
            <ktmmenu_setup>
                <setup>
                    <module>KtmCore_KtmMenu</module>
                    <class>KtmCore_KtmMenu_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ktmmenu_setup>
            <ktmmenu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ktmmenu_write>
            <ktmmenu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ktmmenu_read>
        </resources>
    </global>
</config>
