/* Header ================================================================================ */

.rtl {
  text-align: right;
}
.rtl .header .logo {
  text-align: right;
}
.rtl .mobile-collapsible .subscribe .form-subscribe-header label {
  text-align: right;
  display: block;
}
.rtl .error-msg,
.rtl .success-msg,
.rtl .note-msg,
.rtl .notice-msg {
  background-position: 100% 50%;
  padding: 10px 32px 8px 8px;
}
.rtl .widget-tab-content.widget-tab-content-list .item .top-actions-inner {
  text-align: right;
}
.rtl .widget-tab-content.widget-tab-content-list .button.btn-cart {
  float: right !important;
  margin: 0 0 5px 7px !important;
}
.rtl .item.products-bottom button.btn-cart {
  display: block;
  float: right;
}
.rtl .header-container .header .header-top .language-switcher {
  float: right;
}
.rtl .header-container .header .header-top .header-top-left p.welcome-msg {
  float: right;
  padding: 0 19px 0 0;
}
.rtl .ktm-ajax-container .product-details {
  text-align: right;
}
.rtl .ktm-ajax-container .product-details {
  padding: 0 10px 0 0 !important;
}
.rtl .product-view .product-shop,
.rtl .bestseller .ktm-actions-top {
  text-align: right;
}
.rtl .product-shop .add-to-cart .btn-cart,
.rtl .product-view .product-shop .product-add-to-links {
  float: right;
}
.rtl .product-view .product-shop .add-to-box .add-to-cart .pull-left {
  float: right !important;
}
.rtl .mostviewed .flex-viewport .product-name,
.rtl .product-view .category-products .item h3.product-name {
  text-align: center;
}
.rtl .title-buttons h1,
.rtl .cart .cart-collaterals .crosssell .product-image {
  float: right;
}
.rtl .cart .cart-collaterals .crosssell .addtocart button.btn-cart {
  float: right;
}
.rtl .cart-cell {
  text-align: right;
}
.rtl .block-compare .btn-remove {
  font-size: 0;
}
.rtl .container-main .category-products.collection-position02.collection-position04 .item h3.product-name {
  text-align: right;
}
.rtl .container-main .category-products.collection-position02 .item h3.product-name,
.rtl .container-main .category-products .item h3.product-name {
  text-align: center;
}
.rtl .main-blog h3 {
  text-align: right;
}
.rtl .block-layered-nav dd li {
  padding: 0 10px 0 0;
}
.rtl .cart ul.checkout-types {
  float: left;
}
.rtl .page-empty .more-views ul.slides {
  float: left;
}
.rtl .page-empty .product-shop ul.add-to-links li a .fa {
  padding: 0 0 0 10px;
}
.rtl .category-products .products-grid .item .top-actions-inner .confix-produclist a .fa {
  display: block;
  line-height: 36px !important;
}
.rtl .item {
  text-align: right;
}
.rtl .is-sticky .logo-sticky {
  float: right;
}
.rtl .header-container .header .header-top .form-language,
.rtl .header-container .header .header-top .currency_top,
.rtl .header-container .header .header-top .language-switcher {
  float: right;
}
.rtl .header-container .header .header-top .language-switcher a {
  padding-left: 15px;
  padding-right: 0;
}
.rtl .header-container .header .header-top .form-language .language-label {
  float: left;
}
.rtl .header-container .header .header-top .header-top-left p.welcome-msg {
  float: right;
  padding: 0 19px 0 0;
  text-align: right;
}
.rtl .header .form-language .sbHolder {
  padding: 0 0 0 25px;
}
.rtl .header .form-language .sbHolder .sbOptions {
  right: 0;
}
.rtl .header .form-language .sbHolder .sbOptions {
  width: 170%;
}
.rtl .header .form-language .sbHolder .sbOptions li a {
  padding: 5px 25px 5px 0;
  text-align: right;
  background-position: 100% 8px !important;
  width: 100%;
}
.rtl .header .currency_top .sbHolder .sbOptions li a {
  text-align: right;
  width: 100%;
}
.rtl .sbToggle,
.rtl .header-container .header a.sbToggle,
.rtl .header-container .header a.sbToggle {
  left: -3px;
  right: auto;
}
.rtl .header .currency_top .sbHolder .sbOptions {
  right: 0;
  left: auto;
}
.rtl .header-container .currency a.sbToggle {
  left: -18px;
  right: auto;
}
.rtl span.ktm-cart-title {
  float: right;
}
.rtl .header-container .header .header-content .header-act .ktm-icon {
  float: right;
}
.rtl .ktm-icon-ajaxcart .fa-angle-down {
  float: left;
}
.rtl .header-container .header .header-top ul.links li a i.fa {
  float: right;
  padding: 0 0 0 10px;
}
.rtl .ktm-icon-ajaxcart a.ktm-cart-label {
  left: 0;
  float: left;
  font-size: 85%;
}
.rtl .ktm-icon-ajaxcart .fa-angle-down {
  padding: 0 0 0 10px;
}
.rtl .icon-cart {
  float: right;
}
.rtl .tabs-collection .widget-tabs.nav.nav-tabs {
  position: absolute;
  left: 0;
  right: auto;
}
.rtl .btn-remove span.icon {
  float: right;
  margin: 0 0 0 5px;
}
.rtl .owl-controls .owl-buttons {
  left: 0;
  right: auto;
}
.rtl .ktm-ajax-container p.no-items-in-cart,
.rtl .maincompare p.empty {
  text-align: right;
}
.rtl .main-heading .heading-title {
  text-align: right;
}
.rtl .ktm-cart .ktm-ajax-container {
  overflow: hidden;
}
.rtl .ktm-ajax-checkout a {
  float: right;
}
.rtl .product-image .product-imagenew-label,
.rtl .product-image .product-imagesale-label,
.rtl .slider-product-wrapper .products-grid .item {
  text-align: right;
}
.rtl .footer .footer-link {
  text-align: left;
}
.rtl #ktmnav li.level0 ul li.groups a {
  text-align: right;
}
.rtl .main-inner {
  z-index: 1;
  position: relative;
}
/* Header Menu================================================================================ */

.rtl #ktmnav li {
  float: right;
  text-align: right;
}
.rtl .posts-item-inner a {
  text-align: right;
}
.rtl .grid12-1,
.rtl .grid12-2,
.rtl .grid12-3,
.rtl .grid12-4,
.rtl .grid12-5,
.rtl .grid12-6,
.rtl .grid12-7,
.rtl .grid12-8,
.rtl .grid12-9,
.rtl .grid12-10,
.rtl .grid12-11,
.rtl .grid12-12,
.rtl .grid4-1,
.rtl .grid4-2,
.rtl .grid4-3,
.rtl .grid2-1,
.rtl .grid-full,
.rtl .grid-col2-sidebar,
.rtl .grid-col2-main {
  float: right;
}
.rtl li.level0 > a > span > .cat-label {
  left: 10px !important;
  right: auto !important;
}
.rtl li.level0 > a > span > .pin-bottom:before {
  left: 10px !important;
  right: auto !important;
}
.rtl .custom p.custom_category_menu_text {
  text-align: right;
}
.rtl #ktmnav .sub-wrapper .mm-item-base div ul li div ul li div div.mm-item-base,
.rtl #ktmnav li.m-dropdown .dropdown.sub-wrapper div.mm-item-base div ul li div div.mm-item-base {
  margin-right: 10px;
}
.rtl #ktmnav li.level0 ul li.parent:hover,
.rtl .ktm-navigation #ktmnav li ul li.parent:hover {
  background-position: 6px -15px;
}
.rtl .ktm-navigation #ktmnav li .dropdown .groups-wrapper ul.level2 li.level3 a:hover {
  background-image: none !important;
}
.rtl #ktmnav li .show-sub li div.show-sub {
  left: -220px;
}
.rtl .ktm-menu ul.nav-accordion li a {
  padding-right: 15px;
}
.rtl .ktm-menu ul.nav-accordion li li a {
  padding-right: 30px;
}
.rtl .ktm-menu ul.nav-accordion li li li a {
  font-size: 13px;
  padding-right: 45px;
}
.rtl .ktm-menu ul.nav-accordion li li li li a {
  font-size: 12px;
  padding-right: 60px;
}
.rtl .ktm-menu ul.nav-accordion li a {
  color: #ffffff;
}
.rtl .ktm-menu ul.nav-accordion li span.collapse,
.rtl .ktm-menu ul.nav-accordion li span.expand {
  right: 85%;
}
.rtl ul.products-posts .posts-item-inner .posts-actions-inner {
  padding-left: 0;
}
.rtl #ktmnav li.m-dropdown .dropdown.sub-wrapper {
  left: auto;
  right: 0;
}
.rtl .megamenu .fa {
  float: left;
}
/* Featured Products================================================================================ */

.rtl.cms-home .main-inner .nav-tabs li:last-child {
  border-left: none !important;
}
.rtl.cms-home .main-inner .nav-tabs li:first-child {
  border-left: 1px solid #dddddd;
}
.rtl .top-actions-inner .bt-action .price-box {
  float: right;
}
.rtl .bestseller h3 {
  text-align: right !important;
}
.rtl .product-details .btn-remove,
.rtl .product-details .btn-edit {
  float: right;
  padding: 0 0 0 20px;
}
.rtl .block-cart .block-content ol li.item .product-details,
.rtl .block-cart .block-content ul li.item .product-details {
  padding-right: 15px;
  padding-left: 0;
}
.rtl .category-products #products-list .confix-produclist {
  float: right;
}
.rtl .main-heading .heading-title h3 {
  text-align: right;
}
.rtl .flexslider .slides {
  float: left;
}
.rtl #product_tabs_upsell_products_contents .nav-wrapper ul.flex-direction-nav li a {
  font-size: 0;
}
.rtl .slider-product-wrapper .products-grid .item .catpanel .ktm-actions .confix-produclist a,
.rtl .header-container .header .header-top .form-language .language-label {
  text-align: right;
}
.rtl .widget-static-block .custom .title h2 {
  float: right;
}
.rtl .widget-static-block .custom .btn-purchase {
  float: left;
  margin-left: 0;
}
.rtl .block-subscribe .block-title {
  margin-left: 10px;
  margin-right: 0;
  float: left;
}
.rtl .block-subscribe .block-content .actions {
  margin-left: 0;
  margin-right: 10px;
}
.rtl .footer .block-subscribe {
  background-position: 100% 50%;
}
.rtl .block-subscribe .block-content .input-box,
.rtl .block-subscribe .block-content .actions,
.rtl .block-subscribe .block-content {
  float: left;
}
.rtl .ktm-block-free {
  text-align: left;
}
.rtl .slider-product-wrapper .top-actions-inner .ktm-actions .confix-produclist a.link-wishlist .fa-heart-o {
  right: 12px;
  left: auto;
}
.rtl .footer-container .footer-bottom .section-space .info-class p .fa-phone {
  margin-left: 5px;
}
.rtl .category-products.collection-position01 .item h3.product-name {
  text-align: center;
}
/* custom ================================================================================ */

.rtl .top-actions-inner .ktm-actions .confix-produclist .wishlist,
.rtl .top-actions-inner .actions .confix-produclist .wishlist {
  margin-left: 3px;
  margin-right: 0;
}
.rtl ul.products-grid li.item .confix-produclist {
  padding-left: 0;
  padding-right: 4px;
}
.rtl .messages li,
.rtl .cms .section-title {
  text-align: right;
}
.rtl h1,
.rtl h2,
.rtl h3,
.rtl h4,
.rtl h5,
.rtl h6,
.rtl .h1,
.rtl .h2,
.rtl .h3,
.rtl .h4,
.rtl .h5,
.rtl .h6 {
  text-align: right;
}
.rtl .feature .icon {
  float: right;
  margin: 0 0 10px 15px;
}
.rtl .cms.cms-ktmgraphy .feature p {
  padding-left: 0;
  padding-right: 75px;
  text-align: right;
}
.rtl .std ul,
.rtl .std ol,
.rtl .std dl,
.rtl .std p,
.rtl .std address,
.rtl .std blockquote {
  text-align: right;
}
.rtl .block-featured .ktm-features .circle span.icon-dashboard {
  margin-left: 0;
  margin-right: 4px;
}
/* Category ================================================================================ */

.rtl .col-left {
  z-index: 2;
}
.rtl .main-top .category-products .item .table .ratings,
.rtl .category-products.collection-position02.collection-position04 .item .ratings {
  left: 0;
  right: auto;
}
.rtl .product-sale-label,
.rtl .product-new-label {
  left: auto;
  right: 0;
}
.rtl .item-upsell .product-new-label,
.rtl .item-upsell .product-sale-label,
.rtl .item-related .product-new-label,
.rtl .item-related .product-sale-label {
  left: auto;
  right: 10px;
}
.rtl .breadcrumbs li {
  background: url("../images/breadcrumbs-rtl.png") no-repeat scroll 0 50% transparent;
  padding: 0 10px;
}
.rtl .breadcrumbs li:last-child {
  background: none;
}
.rtl .breadcrumbs li:first-child {
  padding-left: 10px;
}
.rtl .breadcrumbs li.home {
  padding-right: 10px;
}
.rtl ul.nav-accordion li span.expand,
.rtl ul.nav-accordion li span.collapse {
  text-align: right;
}
.rtl .main,
.rtl ul.nav-accordion li a {
  text-align: right;
}
.rtl ul.nav-accordion li ul li a {
  padding: 0 25px 0 0;
}
.rtl ul.nav-accordion ul ul li a {
  margin-right: 10px;
}
.rtl ul.nav-accordion ul ul ul li a {
  margin-right: 20px;
}
.rtl .block-layered-nav dd li {
  direction: ltr;
}
.rtl ul.nav-accordion li span.collapse,
.rtl ul.nav-accordion li span.expand {
  right: 89%;
}
.rtl #ktmnav li.level0 .groups-wrapper ul li a,
.rtl #ktmnav li.level0 .dropdown .groups-wrapper ul.level1 li a,
.rtl #ktmnav .dropdown ul li a {
  padding-right: 10px;
}
.rtl #ktmnav .dropdown ul.level0 li.parent {
  background-position: 0 17px;
  background: none;
}
.rtl #ktmnav .dropdown ul.level0 li.parent:before {
  content: "";
  display: inline-block;
  font-family: FontAwesome;
  font-size: 11px;
  left: 0;
  margin-right: 10px;
  position: absolute;
  text-align: left;
  width: 32px;
}
.rtl .tags-list li {
  float: right;
}
.rtl .toolbar .toolbar-top .sorter .view-mode a.list,
.rtl .toolbar .toolbar-top .sorter .view-mode strong,
.rtl .toolbar .toolbar-top .sorter .view-mode a.grid {
  text-align: right;
}
.rtl .block-reorder ol#cart-sidebar-reorder li p.product-name {
  float: right;
  padding-right: 5px;
}
.rtl .block-reorder ol#cart-sidebar-reorder li input {
  float: right;
}
.rtl .block-wishlist .block-content li.item .product-details {
  padding-left: 0;
  padding-right: 15px;
}
.rtl .my-wishlist .title-buttons h1 {
  float: right;
  text-align: right;
}
.rtl ul.nav-accordion li.level0 > a > span > .cat-label {
  display: inline-block;
}
.rtl .sidebar .block .block-title {
  border-right: 3px solid #000000;
  border-left: none;
}
.rtl .block .block-title {
  padding: 0 15px 0 0;
}
.rtl .category-products #products-list .std,
.rtl .category-products .products-list .confix-produclist-category ul li a.link-wishlist,
.rtl .category-products .products-list .confix-produclist-category ul li a.link-compare {
  text-align: right;
}
.rtl .item .table .ratings {
  left: 0;
  right: auto;
}
.rtl .category-products #products-list .price-box,
.rtl .category-products #products-list p.button-product-list,
.rtl .category-products .products-list .confix-produclist-category {
  float: right;
}
.rtl .category-products .products-list .confix-produclist-category {
  padding-right: 5px;
}
.rtl .category-products #products-list .product-name {
  text-align: right;
}
.rtl .category-products .item .actions .confix-produclist-category ul li a.link-wishlist,
.rtl .category-products .item .actions .confix-produclist-category ul li a.link-compare,
.rtl .category-products .item {
  text-align: right;
}
.rtl .top-actions-inner .ktm-actions .confix-produclist-category .link-wishlist,
.rtl .top-actions-inner .actions .confix-produclist-category .link-wishlist {
  margin-left: 5px;
}
.rtl .category-products .item .actions .confix-produclist-category {
  padding-right: 4px;
}
.rtl .category-products #products-list .item .product-hover .product-image .product-imagesale-label {
  left: -11px;
}
.rtl .category-products #products-list .item .product-hover .product-image .product-imagenew-label {
  right: -24px;
}
/* product-view ================================================================================ */

.rtl .product-view .product-shop .price-box .old-price {
  text-align: right;
}
.rtl .product-view .product-shop .product-options-bottom ul.add-to-links,
.rtl .product-view .product-shop ul.add-to-links {
  float: right;
}
.rtl .product-shop .add-to-cart .btn-cart {
  margin: 0 10px;
}
.rtl .product-view .product-shop ul.add-to-links li a .fa {
  margin: 0 0 0 10px;
}
.rtl .product-view .left-product-view .product-new-label,
.rtl .product-view .left-product-view .product-sale-label {
  left: 20px;
}
.rtl .left-product-view .nav-wrapper ul,
.rtl .product-view .product-shop .availability,
.rtl .product-view .product-shop .price-box .special-price,
.rtl .left-product-view .nav-wrapper ul,
.rtl .product-view .product-shop .availability {
  float: right;
}
.rtl .product-view .ktm-social-links {
  float: right;
}
.rtl .product-view .product-shop .availability span.in-stock1 {
  text-align: right;
}
.rtl .product-view .product-shop .price-box {
  float: right;
  width: 100%;
}
.rtl .product-view .product-shop,
.rtl p.required {
  text-align: right;
}
.rtl .product-shop .add-to-cart label,
.rtl .product-shop .add-to-cart input.input-text,
.rtl .product-view .product-shop .add-to-cart,
.rtl .product-view .product-shop .product-options-bottom ul.add-to-links li {
  float: right;
}
.rtl .product-view .product-shop .product-options-bottom ul.add-to-links li a.link-wishlist {
  margin-left: 10px;
}
.rtl .product-tabs li {
  float: right;
}
.rtl .product-view .left-product {
  padding-left: 15px;
}
.rtl .product-view .item button.btn-cart {
  float: left;
}
.rtl .product-view .product-shop .price-box .regular-price {
  float: right;
}
.rtl .product-view .right-product {
  border-left: 0;
  padding-left: 0;
  padding-right: 15px;
}
.rtl .product-view .right-product h3 {
  text-align: center;
}
.rtl .product-view .product-shop .price-box {
  text-align: right !important;
}
.rtl .product-shop .add-to-cart .qty .pull-left {
  float: right !important;
}
.rtl .product-shop .add-to-cart .qty .pull-left label {
  padding: 0 0 0 10px;
}
.rtl .product-view .block {
  text-align: right;
}
.rtl .product-view .block-related .owl-item .item {
  text-align: center;
}
.rtl .product-view .block-related .owl-item .item .product-name {
  text-align: center;
}
.rtl .product-view .product-img-box .more-views li {
  float: right !important;
}
.rtl .product-tabs {
  float: right;
}
.rtl .nav-wrapper ul.flex-direction-nav,
.rtl .nav-wrapper ul.direction-nav {
  float: left;
}
.rtl .mousetrap {
  right: 0 !important;
}
.rtl .product-view .product-shop .product-options input.required-entry {
  text-align: right;
}
.rtl .block-related .block-content .block-subtitle {
  text-align: right;
}
.rtl .product-tabs-content .slider-product-wrapper .flex-viewport {
  float: left;
}
.rtl .product-tabs-content-inner {
  text-align: right;
}
.rtl .footer-container .footer-top .footer h3,
.rtl .footer-container .footer-top-brands .footer h3 {
  text-align: right;
}
.rtl .ajaxcart {
  left: 0;
  right: auto;
}
.rtl .main-block .left-content,
.rtl .main-block .right-content .block_content_right_top_01 {
  z-index: 0;
}
.rtl .main_slide_inner .main_side_left .col-lg-6 {
  padding-right: 15px;
  padding-left: 0;
}
.rtl .main_slide_inner .main_side_left .main_slide_bottom .col-lg-12 {
  padding-right: 15px;
  padding-left: 0;
}
/* customer-account-login ================================================================================ */

.rtl .form-list label {
  float: right;
}
.rtl .account-login .content h2 {
  background-position: 100% 1px;
  padding: 0 23px 5px 0;
}
/* checkout-onepage-index ================================================================================ */

.rtl .opc .step-title .number,
.rtl .opc .step-title h2 {
  float: right;
}
.rtl .form-list li.control input.radio,
.form-list li.control input.checkbox,
.rtl .form-list li.control label {
  float: right;
}
.rtl .form-list li.control label {
  margin: -1px 10px 0 0;
}
.rtl .productslist .flex-viewport .top-actions-inner {
  text-align: right;
}
/* checkout-cart-index ================================================================================ */

.rtl .confix-produclist ul li a {
  text-align: right;
}
/* Footer================================================================================ */

.rtl .footer-container .footer-top .footer h3.logo .img-responsive {
  display: inline;
}
.rtl .footer-container .footer-top .footer .footer-static a .fa-circle {
  float: right;
  padding: 0 0 0 10px;
}
.rtl .footer-container .footer-top .about .fa-twitter {
  display: inline-block;
  float: right;
  line-height: 32px;
  padding: 0 0 0 10px;
}
.rtl .footer-center .fa-circle {
  display: inline;
  float: right;
  margin: 0 0 0 10px;
}
.rtl .footer-center .footer-static h3 {
  text-align: right;
}
.rtl .footer-center .footer-static .com {
  padding: 0 0 0 10px;
}
.rtl .footer-container .footer-top h3,
.rtl .footer-container .footer-bottom .section-space .collapsible,
.rtl .footer li,
.rtl .footer p,
.rtl .footer-container .footer-bottom .box-content-footer .box-content-top .icon-style-1 {
  text-align: right;
}
.rtl .footer-container .footer-copyright .footer li {
  float: right;
  background-position: 0 50%;
}
.rtl .footer-container .footer-copyright .footer li.first {
  padding-right: 0;
  padding-left: 10px;
}
.rtl .footer-container .footer-top .footer .footer-static .input-box,
.rtl .footer-container .footer-top-brands .footer .footer-static .input-box,
.rtl .footer-container .footer-top .footer .footer-static .input-box .input-text.required-entry.validate-email,
.rtl .footer-container .footer-top-brands .footer .footer-static .input-box .input-text.required-entry.validate-email {
  float: right;
}
.rtl .footer-container .footer-top .footer .footer-static .actions,
.rtl .footer-container .footer-top-brands .footer .footer-static .actions {
  float: right;
}
.rtl .footer-container .footer-top .footer a .fa,
.rtl .footer-container .footer-top-brands .footer a .fa {
  padding: 0 5px 0 0;
  transform: scale(1) rotate(-180deg) translateX(0) translateY(0) skewX(0deg) skewY(0deg);
}
.rtl .footer-container .footer-copyright address {
  line-height: 40px;
  text-align: right;
}
.rtl .footer-container .footer-copyright .box-content-footer {
  float: left;
}
.rtl .footer h3.block-title {
  text-align: right;
}
.rtl .footer-container .footer-copyright .box-content-footer .iconbox-icon .fa {
  padding: 0;
}
.rtl .category-products.collection.block-content .item .top-actions-inner .price-box,
.rtl .block-tags .actions {
  text-align: right;
}
/*mobile bar*/

.rtl .currency-topbar .currency-list ul li a {
  padding-left: 15px;
  padding-right: 0;
}
.rtl .acc-topbar .acc-list {
  left: auto;
  right: 0;
  margin-right: -1px;
}
.rtl .acc-topbar .acc-list ul li a {
  padding-right: 0;
  padding-left: 15px;
  text-align: right;
}
.rtl .acc-topbar .acc-list ul li a i,
.rtl .acc-topbar .acc-list ul li span {
  display: inline-block;
}
.rtl .language-topbar .lang-list ul li a {
  padding-right: 0;
  padding-left: 15px;
  text-align: right;
}
.rtl .compare-topbar .compare-list {
  left: 0;
  right: auto;
}
.rtl .mobile-bar .ktm-top-cart-bar .ktm-cart .ajaxcart {
  right: auto;
  left: 0;
  margin-left: -1px;
}
.rtl .mobile-bar > div:last-child > div {
  border-right: 0;
}
.rtl .mobile-bar > div:first-child > div {
  border-right: 1px solid rgba(204, 204, 204, 0.75);
}
.rtl .top-bar > div {
  float: right;
}
.rtl .top-bar .checkout-topbar a,
.rtl .top-bar .login-topbar a {
  padding-right: 0;
  padding-left: 15px;
}
.rtl .top-bar > div:last-child > div:first-child,
.rtl .top-bar > div:last-child > a:first-child {
  border-right: 0;
}
.rtl .top-bar > div:first-child > div:first-child,
.rtl .top-bar > div:first-child > a:first-child {
  border-right: 1px solid rgba(204, 204, 204, 0.75);
}
@media (min-width: 940px) and (max-width: 1170px) {
  .rtl ul.nav-accordion li span.collapse,
  .rtl ul.nav-accordion li span.expand {
    right: 90%;
  }
  .rtl ul.nav-accordion li ul li a {
    padding: 0 5px 0 0;
  }
  .rtl ul.nav-accordion ul ul li a {
    font-size: 90%;
    margin-right: 5px;
  }
  .rtl ul.nav-accordion ul ul ul li a {
    margin-right: 15px;
  }
  .rtl .product-view .product-shop {
    text-align: right !important;
  }
  .rtl #ktmnav li .show-sub li div.show-sub {
    left: -164px;
  }
  .rtl #ktmnav li .show-sub li div.show-sub {
    width: 165px;
  }
  .rtl .main-heading .heading-title h3 {
    text-align: right;
  }
  .rtl .nav-wrapper ul.flex-direction-nav,
  .rtl .nav-wrapper ul.direction-nav {
    float: left;
  }
  .rtl .ktm-icon-ajaxcart a.ktm-cart-label {
    font-size: 85%;
    padding: 0 25px 0 30px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .rtl ul.nav-accordion li span.collapse,
  .rtl ul.nav-accordion li span.expand {
    right: 85%;
  }
  .rtl ul.nav-accordion li ul li a {
    padding: 0 5px 0 0;
  }
  .rtl ul.nav-accordion ul ul li a {
    font-size: 90%;
    margin-right: 5px;
  }
  .rtl ul.nav-accordion ul ul ul li a {
    margin-right: 15px;
  }
  .rtl .product-view .product-shop {
    text-align: right !important;
  }
  .rtl #ktmnav li .show-sub li div.show-sub {
    left: -152px;
  }
  .rtl ul.products-posts .posts-item-inner .posts-actions-inner {
    padding-right: 10px;
  }
  .rtl .main-heading .heading-title h3 {
    text-align: right;
  }
  .rtl .nav-wrapper ul.flex-direction-nav,
  .rtl .nav-wrapper ul.direction-nav {
    float: left;
  }
  .rtl .ktm-icon-ajaxcart a.ktm-cart-label {
    font-size: 80%;
  }
}
@media (max-width: 767px) {
  .rtl .main-heading .heading-title h3 {
    text-align: right;
  }
  .rtl .header-container .header {
    text-align: center;
  }
  .rtl.cms-ktmgraphy .std ol {
    padding: 0 2.5em 0 0;
  }
  .rtl .std ul.disc {
    padding-right: 18px;
    padding-left: 0;
  }
  .rtl .cms .feature {
    padding: 0 10px 0 0;
  }
  .rtl .cms.cms-ktmgraphy .feature p {
    padding-left: 0;
    padding-right: 35px;
    text-align: right;
  }
  .rtl .std ul {
    padding: 0 0.5em 0 0;
  }
}
