.bss-htp {
	float: left;
	width: 475px;
}

.bss-htp-tabs {
	list-style:none outside none; 
	height: 25px;
}

.bss-htp-tabs li                { 
	float:left; 
	border-right:1px solid #a4a4a4; 
	border-left:1px solid #fff; 
	font-size:1.1em; 
	line-height:1em;
    background: url("../images/tabs_bg.gif") repeat-x scroll 0 100% #f2f2f2;
    border-bottom:1px solid #a4a4a4;
}

.bss-htp-tabs li.first          { 
	border-left:0; 
}

.bss-htp-tabs li.last           { 
	border-right:0; 
}

.bss-htp-tabs a                 {
	text-decoration: none; 
	display:block; 
	padding:6px 15px; 
	color:#444; 
}

.bss-htp-tabs a:hover           { 
	background-color:#ddd; 
	text-decoration:none; 
	color:#444; 
}

.bss-htp-tabs li.active a,
.bss-htp-tabs li.active a:hover { 
	background-color:#666; 
	color:#fff;
}

.bss-htp-padder {
	border: 1px solid #C4C1BC;
	margin-bottom: 3px;
	width: 473px;
	float: left;
}

.bss-htp-loader {
	margin-top: 12px;	
	position: absolute;
	text-align: center;
	display: none;
}

.col-1-layout .bss-htp-padder, .col-1-layout ul.bss-htp,.col-1-layout .listing-type-grid#hometabspro .grid-row { width: 898px; }
.col-1-layout .bss-htp { width: 900px; }
.col-2-left-layout .listing-type-grid#hometabspro .grid-row,
.col-2-right-layout .listing-type-grid#hometabspro .grid-row {width: 683px;}
.col-2-left-layout .bss-htp-padder,
.col-2-right-layout .bss-htp-padder {width: 683px;}
.col-2-left-layout .bss-htp,
.col-2-right-layout .bss-htp { width: 685px; }

.col1-layout .bss-htp-padder, .col1-layout ul.bss-htp, .col1-layout .listing-type-grid#hometabspro .grid-row { width: 898px; }
.col1-layout .bss-htp { width: 900px; }
.col2-left-layout .listing-type-grid#hometabspro .grid-row,
.col2-right-layout .listing-type-grid#hometabspro .grid-row {width: 683px;}
.col2-left-layout .bss-htp-padder,
.col2-right-layout .bss-htp-padder {width: 683px;}
.col2-left-layout .bss-htp,
.col2-right-layout .bss-htp { width: 685px; }

/********************** Catalog Listing */

/* List Type */
.listing-type-list#hometabspro .listing-item { 
	border-top:1px solid #D9DDE3; 
	padding:12px 0px; 
	float: left;
	width: 471px;
}

.col-1-layout .listing-type-list#hometabspro .listing-item { width: 898px; }
.col-2-left-layout .listing-type-list#hometabspro .listing-item,
.col-2-right-layout .listing-type-list#hometabspro .listing-item { width: 683px; }

.col1-layout .listing-type-list#hometabspro .listing-item { width: 898px; }
.col2-left-layout .listing-type-list#hometabspro .listing-item,
.col2-right-layout .listing-type-list#hometabspro .listing-item { width: 683px; }

.listing-type-list#hometabspro .product-image { float:left; width:135px; margin-left: 10px; }
.listing-type-list#hometabspro .product-shop { width:305px; margin-right: 10px; }
.listing-type-list#hometabspro .product-shop .description { margin:.5em 0 1.2em 0; }
.listing-type-list#hometabspro .product-shop .price-box { float:left;text-align:left; white-space:nowrap; margin:3px 13px 5px 0; padding:0; }
.listing-type-list#hometabspro .product-shop .form-button {margin:0.5em 0 0; }
.listing-type-list#hometabspro .product-shop .product-reviews { margin:15px 0; font-size:.95em; }
.listing-type-list#hometabspro .product-shop .product-reviews a, .listing-type-list#hometabspro .product-shop .product-reviews a:hover { color:#6e6969; }
.listing-type-list#hometabspro .listing-item .rating-box { margin-bottom:6px; }

/* Grid Type */
.listing-type-grid#hometabspro {  }
.listing-type-grid#hometabspro .grid-row { 
	border-bottom:1px solid #d9dde3;
	float: left;
	width: 473px; 	
	background-image:url(../images/bkg_products-grid3.gif);
}
ol.even#htp-grid-row {
	 
}

.listing-type-grid#hometabspro li.item { float:left; width:137px; padding:12px 10px; line-height:1.6em; overflow:hidden; }
.listing-type-grid#hometabspro li.item {
		 
}
.listing-type-grid#hometabspro li.last {
	
}

.listing-type-grid#hometabspro .last { border-bottom:0; }
.listing-type-grid#hometabspro .product-image { text-align:center; }
.listing-type-grid#hometabspro .rating-box { float:left; margin-left:0; margin-right:5px; }
.listing-type-grid#hometabspro .actions { margin:10px 0; text-align:center; } 

/* Rewrites for different layouts */
.col-1-layout .grid-row#htp-grid-row { background-image:url(../images/bkg_products-grid1.gif); }
.col-1-layout .listing-type-grid#hometabspro li.item { width:159px; }
.col-1-layout .listing-type-list#hometabspro .product-shop { width: 721px; }

.col-2-left-layout .grid-row#htp-grid-row,
.col-2-right-layout .grid-row#htp-grid-row { background-image:url(../images/bkg_products-grid2.gif); }
.col-2-left-layout .listing-type-grid#hometabspro li.item,
.col-2-right-layout .listing-type-grid#hometabspro li.item { width:150px; }
.col-2-left-layout .listing-type-list#hometabspro .product-shop,
.col-2-right-layout .listing-type-list#hometabspro .product-shop { width:512px; }

.col1-layout .grid-row#htp-grid-row { background-image:url(../images/bkg_products-grid1.gif); }
.col1-layout .listing-type-grid#hometabspro li.item { width:159px; }
.col1-layout .listing-type-list#hometabspro .product-shop { width: 721px; }

.col2-left-layout .grid-row#htp-grid-row,
.col2-right-layout .grid-row#htp-grid-row { background-image:url(../images/bkg_products-grid2.gif); }
.col2-left-layout .listing-type-grid#hometabspro li.item,
.col2-right-layout .listing-type-grid#hometabspro li.item { width:150px; }
.col2-left-layout .listing-type-list#hometabspro .product-shop,
.col2-right-layout .listing-type-list#hometabspro .product-shop { width:512px; }

/********************** Catalog Listing */
.catalog-listing#hometabspro { line-height:1.35em; }
.catalog-listing#hometabspro h5 { margin-bottom:.4em; font-size:1.05em; }
.catalog-listing#hometabspro h5 a, .catalog-listing h5 a:hover { color:#203548; text-decoration:underline; }
.catalog-listing#hometabspro .add-to { margin:.7em 0; color:#555; line-height:1.3em; font-size:.95em; font-weight:bold; }
.catalog-listing#hometabspro .add-to a, .catalog-listing#hometabspro .add-to a:hover { text-decoration:underline; }
.catalog-listing#hometabspro .ratings { margin-bottom:.6em; }

.catalog-listing#hometabspro .ratings { line-height:1.5em; }
.catalog-listing#hometabspro .ratings .rating-box { float:none; margin-bottom:3px; }
.catalog-listing#hometabspro .ratings .pipe { display:none; }
.catalog-listing#hometabspro .ratings .separator { display:none; }
.catalog-listing#hometabspro .ratings a { display:block; }


/************************************************************/
/****************[ Mage_CSS_D Shop Elements]*****************/
/************************************************************/

.catalog-listing#hometabspro .product-shop { float:right; }
.catalog-listing#hometabspro .out-of-stock { height:18px; padding-top:3px;color:#D83820; font-weight:bold; }
.catalog-listing#hometabspro .product-shop .short-description { width:100%; overflow:hidden; margin-bottom:10px; }

/********************** Rating */
.catalog-listing#hometabspro .ratings {
    margin:7px 0;
    }
.catalog-listing#hometabspro .rating-box {
    float:left;
    position:relative;
    width:69px;
    height:13px;
    margin-right:5px;
    background:url(../images/product_rating_blank_star.gif) repeat-x;
    }
.catalog-listing#hometabspro .rating-box .rating {
    position:absolute;
    top:0;
    left:0;
    height:13px;
    background:url(../images/product_rating_full_star.gif) repeat-x;
    }
.catalog-listing#hometabspro .ratings-list {
    margin:4px 0;
    }
.catalog-listing#hometabspro .ratings-list td {
    padding:3px 0;
    }
.catalog-listing#hometabspro .ratings-list td.label {
    padding-right:8px;
    font-size:.95em;
    font-weight:bold;
    line-height:1em;
    }

/************************** Prices */
.catalog-listing#hometabspro .price { white-space:nowrap !important; }

.catalog-listing#hometabspro .price-box { padding:5px 0; }
.catalog-listing#hometabspro .price-box .price { font-weight:bold; color:#c76200; }

/* Regular price */
.catalog-listing#hometabspro .regular-price { color:#c76200; }
.catalog-listing#hometabspro .regular-price .price { font-weight:bold; font-size:13px; color:#c76200; }

/* Old price */
.catalog-listing#hometabspro .old-price { margin:0; }
.catalog-listing#hometabspro .old-price .price-label { white-space:nowrap; color:#999; }
.catalog-listing#hometabspro .old-price .price { font-weight:bold; color:#c76200; text-decoration:line-through; }

/* Special price */
.catalog-listing#hometabspro .special-price { margin:0; padding:3px 0; }
.catalog-listing#hometabspro .special-price .price-label { font-size:13px; font-weight:bold; white-space:nowrap; color:#cd5033; }
.catalog-listing#hometabspro .special-price .price { font-size:13px; font-weight:bold; color:#c76200; }

/* Minimal price (as low as) */
.catalog-listing#hometabspro .minimal-price { margin:0; }
.catalog-listing#hometabspro .minimal-price .price-label { font-weight:bold; white-space:nowrap; }

.catalog-listing#hometabspro a.minimal-price-link { display:block; }
.catalog-listing#hometabspro a.minimal-price-link .label {}
.catalog-listing#hometabspro a.minimal-price-link .price { font-weight:normal; color:#1e7ec8; }

/* Excluding tax */
.catalog-listing#hometabspro .price-excluding-tax { display:block; color:#999; }
.catalog-listing#hometabspro .price-excluding-tax .label { white-space:nowrap; color:#999; }
.catalog-listing#hometabspro .price-excluding-tax .price { font-size:13px; font-weight:normal; color:#c76200; }

/* Including tax */
.catalog-listing#hometabspro .price-including-tax { display:block; color:#999; }
.catalog-listing#hometabspro .price-including-tax .label { white-space:nowrap; color:#999; }
.catalog-listing#hometabspro .price-including-tax .price { font-size:13px; font-weight:bold; color:#c76200; }

/* Excl tax (for order tables) */
.catalog-listing#hometabspro .price-excl-tax  { display:block; }
.catalog-listing#hometabspro .price-excl-tax .label { display:block; white-space:nowrap; }
.catalog-listing#hometabspro .price-excl-tax .price { display:block; }

/* Incl tax (for order tables) */
.catalog-listing#hometabspro .price-incl-tax { display:block; }
.catalog-listing#hometabspro .price-incl-tax .label { display:block; white-space:nowrap; }
.catalog-listing#hometabspro .price-incl-tax .price { display:block; font-weight:bold; }

/* Price range */
.catalog-listing#hometabspro .price-from { margin:0; }
.catalog-listing#hometabspro .price-from .price-label { font-weight:bold; white-space:nowrap; }

.catalog-listing#hometabspro .price-to { margin:0; }
.catalog-listing#hometabspro .price-to .price-label { font-weight:bold; white-space:nowrap; }

/* Price notice next to the options */
.catalog-listing#hometabspro .price-notice { padding-left:10px; color:#999; }
.catalog-listing#hometabspro .price-notice .price { font-weight:bold; color:#2f2f2f; }

.catalog-listing#hometabspro .price-as-configured { margin:0; }
.catalog-listing#hometabspro .price-as-configured .price-label { font-weight:bold; white-space:nowrap; }

.catalog-listing#hometabspro .price-box-bundle { padding:0 0 10px 0; }
.catalog-listing#hometabspro .price-box-bundle .price-box { margin:0 !important; padding:0 !important; }
.catalog-listing#hometabspro .price-box-bundle .price { color:#555; }

.catalog-listing#hometabspro .product-pricing-grouped li { padding:2px 0; color:#e26703; }
.catalog-listing#hometabspro .product-pricing-grouped li .price { font-weight:bold; }


/********************** Generic Box */
.catalog-listing#hometabspro .generic-box { margin-bottom:15px; padding:12px 15px; border:1px solid #D0CBC1; background:url(../images/base_mini_head_bg.gif) repeat-x #fff; }
.catalog-listing#hometabspro .generic-product-list li { margin:12px 0; }

/* Link highlights */
.catalog-listing#hometabspro .link-cart { color:#DC6809 !important; font-weight:bold !important; }
.catalog-listing#hometabspro .link-remove { color:#646464 !important; }
.catalog-listing#hometabspro .link-print { background:url(../images/icon_printer.gif) no-repeat 0 2px; padding-left:23px; }
.catalog-listing#hometabspro .link-feed { background:url(../images/icon_feed.png) no-repeat left center; padding-left:18px; line-height:1.15; }

/********************** Space Creators */
.catalog-listing#hometabspro .no-display { display:none; }
.catalog-listing#hometabspro .content-box { min-height:250px; } /* Set minimum height for visual presentation */
.catalog-listing#hometabspro .content { padding:12px 12px 12px 15px; } /* Sets default padding */
.catalog-listing#hometabspro .actions { line-height:1.3em; }
.catalog-listing#hometabspro .separator { padding:0 3px; }
.catalog-listing#hometabspro .pipe { padding:0 4px; font-size:.95em; }
.catalog-listing#hometabspro .divider { margin:10px 0; height:1px; background:url(../images/dotted_divider.gif) repeat-x; font-size:1px; line-height:1em; overflow:hidden; }

.catalog-listing#hometabspro .form-button, .form-button-alt {
    overflow:visible;
    width:auto;
    border:0;
    padding:1px 8px;
    background:#f18200;
    color:#fff;
    border:1px solid #de5400;
    font:bold 12px arial, sans-serif !important;
    cursor:pointer;
    text-align:center;
    vertical-align:middle;
}
.catalog-listing#hometabspro .form-button span, .form-button-alt span {
    white-space:nowrap;
}
	
	
	
	