<?xml version="1.0"?>
<!--
/**
 * Bss_Socialfeeds extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Bss
 * @package        Bss_Socialfeeds
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
--> 
<config>
    <tabs>
        <bss translate="label" module="bss_socialfeeds">
            <label>Bss Commerce</label>
            <sort_order>100</sort_order>
        </bss>
    </tabs>
    <sections>
        <bss_socialfeeds translate="label" module="bss_socialfeeds">
            <class>separator-top</class>
            <label>Social feeds</label>
            <tab>bss</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <socialfeed translate="label" module="bss_socialfeeds">
                    <label>Social feeds</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <mod_status translate="label">
                            <label>Status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </mod_status> 
                    </fields>
                </socialfeed>
				<fb_socialfeed translate="label" module="bss_socialfeeds">
                    <label>Facebook Credentials</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <fb_status translate="label">
                            <label>Status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fb_status> 
						<fb_app_id translate="label">
                            <label>Facebook APP ID</label>
                            <frontend_type>text</frontend_type> 
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fb_app_id> 
						<fb_secret_key translate="label">
                            <label>Facebook Secret Key</label>
                            <frontend_type>text</frontend_type> 
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fb_secret_key> 
						<fb_page_id translate="label">
                            <label>Facebook Page ID</label>
                            <frontend_type>text</frontend_type> 
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fb_page_id> 
                    </fields>
                </fb_socialfeed>
				<tw_socialfeed translate="label" module="bss_socialfeeds">
                    <label>Twitter Credentials</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <tw_status translate="label">
                            <label>Status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tw_status> 
						<tw_screen_name translate="label">
                            <label>Screen Name</label>
                            <frontend_type>text</frontend_type> 
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tw_screen_name> 
						<tw_consumer_key translate="label">
                            <label>Consumer Key</label>
                            <frontend_type>text</frontend_type> 
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tw_consumer_key> 
						<tw_consumer_secret translate="label">
                            <label>Consumer Secret</label>
                            <frontend_type>text</frontend_type> 
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tw_consumer_secret> 
						<tw_access_token translate="label">
                            <label>Access Token</label>
                            <frontend_type>text</frontend_type> 
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tw_access_token> 
						<tw_access_token_secret translate="label">
                            <label>Access Token Secret</label>
                            <frontend_type>text</frontend_type> 
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tw_access_token_secret>
                    </fields>
                </tw_socialfeed>
				<ins_socialfeed translate="label" module="bss_socialfeeds">
                    <label>Instagram Credentials</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <ins_status translate="label">
                            <label>Status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ins_status> 
						<ins_user_id translate="label">
                            <label>User ID</label>
                            <frontend_type>text</frontend_type> 
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ins_user_id> 
						<ins_access_token translate="label">
                            <label>Access Token</label>
                            <frontend_type>text</frontend_type> 
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ins_access_token>
                    </fields>
                </ins_socialfeed>
				<pi_socialfeed translate="label" module="bss_socialfeeds">
                    <label>Pinterest Credentials</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <pi_status translate="label">
                            <label>Status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </pi_status> 
						<ins_user_name translate="label">
                            <label>User Name</label>
                            <frontend_type>text</frontend_type> 
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ins_user_name>  
                    </fields>
                </pi_socialfeed>
				<yt_socialfeed translate="label" module="bss_socialfeeds">
                    <label>YouTube Credentials</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>60</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <yt_status translate="label">
                            <label>Status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </yt_status> 
						<yt_url translate="label">
                            <label>YouTube Video URL</label>
                            <frontend_type>text</frontend_type> 
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </yt_url>  
                    </fields>
                </yt_socialfeed>
            </groups>
        </bss_socialfeeds>
    </sections>
</config>
