div.listpattern {
    float: left;
    overflow: hidden;
}

div.listpattern span.item {
    overflow: hidden;
    width: 50px;
    float: left;
    text-align: center;
    margin: 0 6px 6px 0px;
}

div.listpattern span.item img {
    width: 50px;
    height: 50px;
}

div.listpattern span.item .ptnone {
    background: #fff;
    width: 50px;
    height: 50px;
    display: block;
    line-height: 50px;
    color: #999;
}
