<?xml version="1.0"?>
<!--
/**
 * @copyright    Copyright (C) 2015 Skstore. All Rights Reserved.
 */
 --> 
<config>
    <sections>
        <ktmcorenewsletter translate="label">
            <label>Ktm Newsletter</label>
            <tab>ktmext</tab>
            <frontend_type>text</frontend_type>
            <sort_order>140</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <display_options translate="label">
                    <label>Display Options</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>10</sort_order>
                    <fields>
                        <js translate="label">
                            <frontend_model>ktmcorenewsletter/adminhtml_system_config_form_field_js</frontend_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </js>
                        <enable translate="label">
                            <label>Enable Newsletter Popup</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable>
                        <background_color translate="label">
                            <label>Text Color</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>ktmcorenewsletter/adminhtml_system_config_form_field_color</frontend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </background_color>
                        <!-- <background_image translate="label">
                            <label>Background Image</label>
                            <frontend_type>image</frontend_type>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">wysiwyg/ktmcore/newsletter</upload_dir>
                            <base_url type="media" scope_info="1">wysiwyg/ktmcore/newsletter</base_url>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </background_image> -->
                        <!-- <goto_link translate="label">
                            <label>Go to link</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </goto_link> -->
                        <newsletter_image translate="label">
                            <label>Newsletter Image</label>
                            <frontend_type>image</frontend_type>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">wysiwyg/ktmcore/newsletter</upload_dir>
                            <base_url type="media" scope_info="1">wysiwyg/ktmcore/newsletter</base_url>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </newsletter_image>
                        <title_newsletter translate="label">
                            <label>Title newsletter</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title_newsletter>
                        <intro translate="label comment">
                            <label>Description newsleter</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </intro>
                        <!-- <width translate="label">
                            <label>Popup width</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </width>
                        <height translate="label">
                            <label>Popup height</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </height> -->
                    </fields>
                </display_options> 
            </groups>
        </ktmcorenewsletter>
    </sections>
</config>