<?xml version="1.0"?>
<config>
  <modules>
    <KtmCore_Masonry>
      <version>0.1.0</version>
    </KtmCore_Masonry>
  </modules>
  <global>
    <helpers>
      <masonry>
        <class>KtmCore_Masonry_Helper</class>
      </masonry>
    </helpers>
	<blocks>
	  <masonry>
		<class>KtmCore_Masonry_Block</class>
	  </masonry>
			<catalog>
				<rewrite>
					<product_list_toolbar>KtmCore_Masonry_Block_Catalog_Product_List_Toolbar</product_list_toolbar>
				</rewrite>
			</catalog>
	</blocks>
	<models>
		<masonry>
			<class>KtmCore_Masonry_Model</class>
		</masonry>
    </models>
  </global>
  <frontend>
    <layout>
        <updates>
            <masonry>
                <file>ktmcore_masonry.xml</file>
            </masonry>
        </updates>
    </layout>
  </frontend>
  <default>
    <masonry>
        <general>
          <enable>1</enable>
          <item_per_page>9</item_per_page>
        </general>
    </masonry>
  </default>
</config> 